
@{
    ViewData["Title"] = "Settings";
}

<div>
    <form id="profileForm" class="col-md-5">
        <div class="form-group">
            <input name="user_id" id="user_id" hidden value="" />
        </div>
        <div class="form-group my-2">
            <label>From</label>
            <input name="user_name" id="user_name" class="form-control" placeholder="e.g. example@sendgrid.com" value="" required />
        </div>
        <div class="form-group my-2">
            <label>Password</label>
            <input name="user_email" id="user_email" class="form-control" placeholder="e.g. jkhs6fgsva5rfvga" value="" required />
        </div>
        <div class="form-group my-2">
            <label>SMTP</label>
            <input name="user_email" id="user_email" class="form-control" placeholder="e.g. smtp.sendrid.com" value="" required />
        </div>
        <div class="form-group my-2">
            <label>Port</label>
            <input name="user_email" id="user_email" class="form-control" placeholder="e.g. 587" value="" required />
        </div>        
        <div class="form-group d-grid my-2">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>