:root {
    --primary-color: #003285; /* Primary theme color */
    --secondary-color: #FF9800; /* Secondary theme color */
    --background-color: #f0f0f0; /* Background color */
    --text-color: #333; /* Text color */
    --header-bg-color: #ffffff; /* Header background color */
    --sidebar-bg-color: #003285; /* Sidebar background color */
    --sidebar-color: #f0f0f0; /* Sidebar background color */
    --link-hover-color: #575757; /* Link hover color */
    --dropdown-bg-color: #333333; /* Dropdown background color */
    --button-bg-color: #4CAF50; /* Button background color */
    --button-hover-color: #45A049; /* Button hover color */
    --section-bg-color: #ffffff; /* Section background color */
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.admin-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
    background-color: var(--sidebar-bg-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    height: 100%;
}

    .sidebar div.logo {
        margin-bottom: 20px;
        font-size: 20px;
    }

.logo-p1 {
    color: grey;
}

.logo-p2 {
    color: var(--primary-color);
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

    .sidebar ul li {
        width: 100%;
        margin: 10px 0;
    }

        .sidebar ul li a {
            color: white;
            text-decoration: none;
            padding: 10px 15px;
            display: block;
            width: 100%;
            border-radius: 5px;
        }

            .sidebar ul li a:hover, .sidebar ul li a.active {
                background-color: var(--sidebar-color);
                color: var(--primary-color);
            }

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px; /* To account for the fixed sidebar */
}

header {
    background-color: var(--header-bg-color);
    padding: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header h1 {
        margin: 0;
    }

.dropdown {
    display: none;
    position: relative;
}

.dropdown-toggle {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--primary-color);
    color: white;
    list-style: none;
    padding: 10px 0;
    width: 200px;
    margin: 5px 0px;
    box-shadow: var(--box-shadow);
    z-index: 2;
}

    .dropdown-menu.show {
        display: block;
    }

    .dropdown-menu li {
        width: 100%;
    }

        .dropdown-menu li a {
            color: white;
            text-decoration: none;
            padding: 10px 15px;
            display: block;
            width: 100%;
            border-radius: 5px;
        }

            .dropdown-menu li a:hover, .dropdown-menu li a.active {
                background-color: white;
                color: var(--primary-color);
            }

section {
    background-color: var(--section-bg-color);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
}

.btn {
    background: var(--primary-color);
    color: var(--sidebar-color);
    padding: 7px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.btn-relative-position {
    position: relative;
    top: 50px;
    z-index: 1;
}

.my {
    margin: 10px 0px;
}

.my-md {
    margin: 15px 0px;
}

.my-lg {
    margin: 20px 0px;
}

.form-control {
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid lightgrey;
    /*    -webkit-appearance: none;
    -moz-appearance: none;*/
    appearance: none;
    border-radius: .25rem;
    /*transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;*/
}

    .form-control:focus .form-control:active {
        border: 1px solid var(--primary-color) !important;
        box-shadow: none !important;
    }

label {
    white-space: pre-wrap;
}

.ai-btn {
    background: linear-gradient(45deg, #8E2DE2, #4A00E0);
    border: none;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

    .ai-btn:hover {
        background: linear-gradient(45deg, #4A00E0, #8E2DE2);
        color: white;
    }

.custom-badge {
    background: var(--primary-color);
    color: white;
    margin: 0px 2px;
    padding: 2px 10px;
    border-radius: 5px;
}

.custom-btn {
    padding: 3%;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

fieldset {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
}

legend {
    font-weight: bold;
    color: var(--primary-color);
    padding: 0 10px;
}

li svg{
    margin: 0px 1em 0px 0px
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

.input-group {
    display: flex;
    align-items: center;
}

    .input-group input {
        padding: 5px;
        margin: 5px;
        flex: 1;
    }

    .input-group button {
        flex: none;
    }

.text-important {
    color: var(--primary-color);
    text-decoration: underline !important;
}

.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}


.alert-warning {
    background: #FF0000;
}


.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-dark {
    background: grey;
}

/*Account Pages*/
.account-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.login-form, .background-content {
    padding: 20px;
}

.login-form {
    background-color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .login-form h2 {
        margin-bottom: 20px;
    }

    .login-form form {
        display: flex;
        flex-direction: column;
    }

    .login-form label {
        margin-bottom: 5px;
    }

    .login-form input {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-form button {
        padding: 10px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .login-form button:hover {
            background-color: #0056b3;
        }

.background-content {
    background-color: var(--primary-color);
    color: white;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .background-content h2 {
        margin-bottom: 20px;
    }

    .background-content p {
        max-width: 80%;
    }

.d-grid input {
    width: 100% !important;
}

.d-none {
    display: none;
}

.logo {
    background: white;
    padding: 10px 15px;
    border-radius: 5px;
}

/*Modaal Library*/
.modaal-container {
    width: 40% !important;
}

.modaal-close:focus:after, .modaal-close:focus:before, .modaal-close:hover:after, .modaal-close:hover:before {
    background: var(--primary-color) !important;
}

.modal-footer {
    border-top: none !important;
}

/*Alertify Library*/
.ajs-button {
    background-color: var(--primary-color) !important;
    color: white;
    border: none !important;
    box-shadow: none !important;
}

    .ajs-button:focus, .ajs-button:active {
        border: none !important;
        box-shadow: none !important;
    }

.ajs-message {
    color: white;
}

/*GridJS Library*/
.gridjs-input {
    /*border:1px solid var(--purple) !important;*/
    box-shadow: none !important;
}

    .gridjs-input:focus {
        border: 1px solid var(--main) !important;
    }

.gridjs-head {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-end;
}

td.gridjs-td,
th.gridjs-th {
    border: none !important;
    border-bottom: 1px solid #e5e7eb !important;
}

/*SlimSelect Library*/
.ss-value {
    background: var(--primary-color) !important;
}

/*UnLayer Editor*/

#editor-container {
    width: 100%;
    height: calc(100% - 50px);
}

.blockbuilder-branding {
    display: none !important;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .main-content {
        padding: 10px;
        margin-left: 0; /* Reset margin when sidebar is hidden */
    }

    header {
        padding: 10px;
        margin-bottom: 10px;
        flex-direction: row;
        justify-content: space-between;
    }

    section {
        padding: 10px;
        margin-bottom: 10px;
    }

    .input-group {
        flex-direction: column;
    }

    .account-container {
        flex-direction: column;
        height: auto;
    }

    .background-content {
        display: none;
    }

    .login-form {
        width: 100%;
    }
}
