@model Presentation.Models.ScraperModel
@inject StateHelper _statehelper
@{
    ViewData["Title"] = "Tool";
    string url = Context.Request.Query["url"];
    string isFound = ViewBag.NotFound as string;
}

<div class="col-md-4 mx-auto">
    <div>
        <form id="urlForm" class="input-group mb-3">
            <input type="url" class="form-control" placeholder="URL" name="url" value="@url">
            <input value="false" name="exportCSV" id="exportCSV" hidden />
            @if (!_statehelper.User().IsExpired)
            {
                <button type="submit" class="btn btn-primary input-group-text" id="basic-addon1">Extract</button>
            }
            else
            {
                <button type="button" class="btn btn-primary input-group-text cursor-not-allowed" disabled title="Your plan has expired">Extract</button>
            }
        </form>
    </div>

    @{
        if (Model.IsFound == true)
        {
            if (Model.Emails != null && Model.Emails.Count() > 0)
            {
                string emailString = "";
                foreach (var email in Model.Emails)
                {
                    emailString += $"{email},";
                    <div class="alert alert-dark" role="alert">
                        @email
                    </div>
                }

                <div>
                    <input id="emails" hidden />
                    <a id="openModal" class="btn btn-primary">Save</a>
                    <a onclick="exportCSV()" class="btn btn-success">Save as Excel</a>
                    <a href="@Url.Action("Index", "Tool")" class="btn btn-secondary">Reset</a>
                </div>
            }
        }
        else if (!string.IsNullOrEmpty(isFound) && Model.IsFound == false)
        {
            <div class="alert alert-warning" role="alert">
                No email(s) found!!!
            </div>
        }
    }
</div>

<div id="modaal-content" style="display: none;">
    <div class="text-center">
        <h3>Groups</h3>
    </div>
    <form id="">
        <input id="group_id" hidden />
        <div class="form-group">
            <label>Group by</label>
            <select id="slim-select" multiple>
                <option data-placeholder="true"></option>
            </select>
        </div>
        <div class="form-group d-grid my-2">
            <input type="button" onclick="Submit()" value="Save All" class="btn btn-primary" />
        </div>
    </form>
</div>

@section scripts {
    <script>

        let reload = true
        let slimSelectInstance;
        $(document).ready(() => {
            $('#openModal').modaal({
                content_source: '#modaal-content',
                after_close: function () {
                    $("#groupForm").trigger("reset")
                },
                before_open: function () {
                    renderDropdown()
                }
            });
        })

        const renderDropdown = () => {
            loading("show")
            request("@Url.Action("GetDropdown", "Group")", "GET")
                .then(data => {
                    if (reload) {
                        const formattedData = data.data.map(item => ({
                            text: item.text,
                            value: item.value
                        }));

                        slimSelectInstance = new SlimSelect({
                            select: '#slim-select',
                            data: formattedData,
                            settings: {
                                placeholderText: 'Select Group(s)',
                            }
                        });
                        reload = false
                    }
                    loading("hide")
                })
                .catch(error => console.error('Error fetching data:', error)); // Handle potential errors
        }

        const onChangedrp = () => {
            console.log($("#emails").val())
        }

        const reset = () => {
            window.location.reload('@Url.Action("Index", "Tool")')
        }

        const exportCSV = () => {
            $('#exportCSV').val(true)
            $('#urlForm').trigger("submit");
        }

        const openModal = () => {
            bootbox.alert($('#alert-message-template'), () => {
                console.log("Testing...");
            });
        }


    </script>
}

