@model Presentation.Models.ScraperModel

@{
    ViewData["Title"] = "Tool";
    string url = Context.Request.Query["url"];
    string isFound = ViewBag.NotFound as string;
}

<div class="col-md-4 mx-auto">
    <div>
        <form id="urlForm" class="input-group mb-3">
            <input type="url" class="form-control" placeholder="URL" name="url" value="@url">
            <input value="false" name="exportCSV" id="exportCSV" hidden />
            <button type="submit" class="btn btn-primary input-group-text" id="basic-addon1">Extract</button>
        </form>
    </div>

    @{
        if (Model.IsFound == true)
        {
            if (Model.Emails != null && Model.Emails.Count() > 0)
            {
                foreach (var email in Model.Emails)
                {
                    <div class="alert alert-dark" role="alert">
                        @email
                    </div>
                }

                <div>
                    <a id="openModal" class="btn btn-primary">Save</a>
                    <a onclick="exportCSV()" class="btn btn-success">Save as Excel</a>
                    <a href="@Url.Action("Index", "Tool")" class="btn btn-secondary">Reset</a>
                </div>
            }
        }
        else if (!string.IsNullOrEmpty(isFound) && Model.IsFound == false)
        {
            <div class="alert alert-warning" role="alert">
                No email(s) found!!!
            </div>
        }
    }
</div>

@* <div class="d-none">
    <div id="alert-message-template">
        <div>
            <h6>Group by</h6>
            <span class="text-muted f-sm">Add multiple groups</span>
        </div>
        <select class="js-example-basic-multiple" name="states[]" multiple="multiple" style="width:100%">
            <option value="b">Business</option>
            <option value="s">School</option>
        </select>
    </div>
</div> *@

<div id="modaal-content" style="display: none;">
    <div class="text-center">
        <h3>Groups</h3>
    </div>
    <form id="groupForm">
        <input id="group_id" hidden />
        <div class="form-group">
            <label>Group by</label>
            <select id="slim-select" multiple>
                <option data-placeholder="true"></option>
            </select>
        </div>
        <div class="form-group d-grid my-2">
            <input type="submit" value="Save All" class="btn btn-primary" />
        </div>
    </form>
</div>

@section scripts {
    <script>
        let groupbyDrp = {}
        $(document).ready(() => {
            $('#openModal').modaal({
                content_source: '#modaal-content',
                after_close: function () {
                    $("#groupForm").trigger("reset")
                },
                before_open: function () {
                    renderDropdown()
                }
            });
        })

        const renderDropdown =()=>{
            loading("show")
            request("@Url.Action("GetDropdown", "Group")", "GET")
                .then(data => {
                    const formattedData = data.data.map(item => ({
                        text: item.text,
                        value: item.value
                    }));

                    groupbyDrp = new SlimSelect({
                        select: '#slim-select',
                        data: formattedData,
                        settings: {
                            placeholderText: 'Select Group(s)',
                        }
                    });
                    loading("hide")
                })
                .catch(error => console.error('Error fetching data:', error)); // Handle potential errors
        }

         const onChangedrp = () => {
            slimSelect.selected()
         }

        const reset = () => {
            window.location.reload('@Url.Action("Index", "Tool")')
        }

        const exportCSV = () => {
            $('#exportCSV').val(true)
            $('#urlForm').trigger("submit");
        }

        const openModal = () => {
            bootbox.alert($('#alert-message-template'), () => {
                console.log("Testing...");
            });
        }
    </script>
}

