@model Application.DTOs.LoginDTO

@{
    ViewData["Title"] = "Login";
    Layout = "_AccountLayout";
}
<style>
    .google-login {
        width: 100%; /* Make container full width */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .separator {
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #666;
        margin: 10px 0;
        position: relative;
    }


    .custom-google-button {
        width: 100% !important; /* Force width to match container */
        height: 42px !important; /* Adjust height to match login button */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px !important;
        border-radius: 5px !important;
        font-size: 16px !important;
        text-align: center;
        color: #000 !important; /* Adjust text color if needed */
    }
</style>
<div class="account-container">
    <div class="login-form">
        <div class="text-center">
            <h2><span class="logo-p2">@Shared.Common.ApplicationName.AppName</span></h2>
        </div>
        <form asp-action="Login">
            <input type="hidden" asp-for="ReturnUrl" value="@ViewData["ReturnUrl"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group d-grid my">
                <input type="submit" value="Login" class="btn btn-primary" />
                <div class="separator">or</div>
                <div id="google-login"></div>
            </div>
            <div class="text-center">
                <p>Don't have an account? <a href="@Url.Action("Register", "Account")">Register</a></p>
            </div>
        </form>
    </div>
    <div class="background-content">
        <h2>Welcome Back!</h2>
        <p>Enter your personal details and start your journey with us.</p>
    </div>
</div>

@section scripts {
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        function handleCredentialResponse(response) {
            const idToken = response.credential;
            fetch('@Url.Action("google", "Account")', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ idToken })
            })
                .then(response => response.json())
                .then(data => {
                    window.location.replace(data.url)
                })
                .catch(error => console.error('Error:', error));
        }

        window.onload = function () {
            google.accounts.id.initialize({
                client_id: '933017194074-dp2kaj9jolvebu8u14uluqms0mibj9e2.apps.googleusercontent.com',
                callback: handleCredentialResponse
            });
            google.accounts.id.renderButton(
                document.getElementById('google-login'),
                { theme: 'outline', size: 'large', width: '200px' }
            );
            const googleLoginButton = document.getElementById('google-login').firstChild;
            googleLoginButton.classList.add('custom-google-button');
        };
    </script>
}